html * {
    font-family: Arial, sans-serif;
}

.homepage-heading {
    text-align: center;
}

.icon {
    width: 55px;
    height: 55px;
}

.carrot-icon {
    background-image: url(/icons/carrot.svg);
}

.infusion-icon {
    background-image: url(/icons/infusion.svg);
}

.drop-icon {
    background-image: url(/icons/drop.svg);
}

.lidocaine-icon {
    background-image: url(/icons/lidocaine.svg);
}

.medication-icon {
    background-image: url(/icons/medication.svg);
}

.prescription-icon {
    background-image: url(/icons/prescription.svg);
}

.dilution-icon {
    background-image: url(/icons/dilution.svg);
}

.homepage-nav {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 35px;
}

.homepage-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    gap: 5px;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.inputs-table {
}

.outputs-table {
    tr:nth-child(odd) {
        background-color: #9afce1;
    }
    tr:nth-child(even) {
        background-color: #e0fff6;
    }

    td {
        outline: #e0e0e0 solid thin;
        padding: 5px 15px 5px 10px;
    }

    td:first-child {
        width: max-content;
    }

    td:nth-child(2) {
        width: 150px;
        text-align: center;
    }
}
