html * {
    font-family: Arial, sans-serif;
}

.div {
    text-size-adjust: 100%;
    margin-bottom: 20px;
}

.body {
    text-size-adjust: 100%;
    margin: 0;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section {
    width: 100%;
    max-width: 300px;
}

.details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em;
}

summary {
    font-weight: bold;
}

details[open] summary {
    margin-bottom: 0.5em;
}

.label {
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.input-wrapper {
    text-size-adjust: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    box-sizing: border-box;
    width: 100%;
    height: 2.5rem;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    appearance: none;
    max-width: 5.5em;
    flex: 0 1 auto;
    flex-direction: column;
    align-items: center;
}

.input:focus-visible,
.input-suffix:focus-visible {
    outline: 2px solid;
    z-index: 2;
}

.input-suffix {
    display: flex;
    align-items: center;
    background-color: #f3f2f1;
    border-bottom-color: rgb(11, 12, 12);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-repeat: stretch;
    border-image-width: 1;
    border-left-width: 0;
    border-top-color: rgb(11, 12, 12);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: rgb(11, 12, 12);
    border-right-style: solid;
    border-right-width: 2px;
    box-sizing: border-box;
    flex-basis: auto;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    justify-content: center;
    line-height: 20px;
    min-width: 40px;
    padding: 5px;
    text-align: center;
    text-wrap: nowrap;
    unicode-bidi: isolate;
    white-space-collapse: collapse;
    -webkit-font-smoothing: antialiased;
    flex-direction: column;
}

.button {
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 1.1875rem;
    line-height: 1;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100px;
    margin: 0 0 22px;
    padding: 8px 10px 7px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    box-shadow: 0 2px 0 #45015e;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
    color: #fff;
    text-decoration: none;
    background-color: #a200db;
}

.resultsTable {
}

.homepage-heading {
    text-align: center;
}

.calculator-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 55px;
    height: 55px;
}

.tub-icon {
    background-image: url(/icons/tub.svg);
}

.reset-icon {
    background-image: url(/icons/refresh.svg);
}

.back-icon {
    background-image: url(/icons/back.svg);
}

.carrot-icon {
    background-image: url(/icons/carrot.svg);
}

.infusion-icon {
    background-image: url(/icons/infusion.svg);
}

.drop-icon {
    background-image: url(/icons/drop.svg);
}

.lidocaine-icon {
    background-image: url(/icons/lidocaine.svg);
}

.medication-icon {
    background-image: url(/icons/medication.svg);
}

.prescription-icon {
    background-image: url(/icons/prescription.svg);
}

.dilution-icon {
    background-image: url(/icons/dilution.svg);
}

.home-icon {
    background-image: url(/icons/home.svg);
}

.homepage-nav {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 35px;
}

.homepage-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    gap: 5px;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.home-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    gap: 5px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    justify-content: left;
}

.menu-link {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    gap: 5px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.inputs-table {
    /*tr:nth-child(odd) {*/
    /*    background-color: #9afce1;*/
    /*}*/
    /*tr:nth-child(even) {*/
    /*    background-color: #e0fff6;*/
    /*}*/
}

.outputs-table {
    /*tr:nth-child(odd) {*/
    /*    background-color: #9afce1;*/
    /*}*/
    /*tr:nth-child(even) {*/
    /*    background-color: #e0fff6;*/
    /*}*/

    td {
        /*outline: #e0e0e0 solid thin;*/
        /*padding: 5px 15px 5px 10px;*/

        text-size-adjust: 100%;
        font-family:
            GDS Transport,
            arial,
            sans-serif;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.25;
        color: #0b0c0c;
        border-spacing: 0;
        border-collapse: collapse;
    }

    td:first-child {
        width: max-content;
    }

    td:nth-child(2) {
        width: 150px;
        text-align: center;
    }
}
