html * {
    font-family: Arial, sans-serif;
}

.carrot-icon {
    background-image: url(/icons/carrot.svg);
    width: 55px;
    height: 55px;
}

.homepage-nav {
    display: flex;
    gap: 12px;
}

.homepage-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}
